{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings by categories</h2>
{% if message is not None %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endif %}
    <div class="card-columns">
            {% for category in categories %}
                    <div class="card"">
                        <img class="card-img-top" src="{{ category.image_url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.title }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ category.description }}</li>
                            <li class="list-group-item">Current bid: ${{ category.starting_bid }}</li>
                            <li class="list-group-item">Category: {{ category.category }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'auction:category' category.id %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
            {% endfor %}
    </div>
{% endblock %}