{% extends "auctions/layout.html" %}

{% block body %}
{% if message is not None %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endif %}
{% if not listing.is_active %}
    <div class="alert alert-danger" role="alert">
        Auction closed
    </div>
{% endif %}
{% if not listing.is_active and user.id is listing.winner_id%}
    <div class="alert alert-success" role="alert">
        Congratulations, you won the auction for this listing!
    </div>
{% endif %}

    <h2>{{ listing.title }} </h2>

    <div class="listing-img">
        <img class="card-img-top" src="{{ listing.image_url }}" alt="Card image cap">
        <li class="list-group-item">{{ listing.description }}</li>
        <li class="list-group-item">Current bid: ${{ listing.starting_bid }}</li>
        <li class="list-group-item">Category: {{ listing.category }}</li>
        <div class="card-body">
            {% if request.user.id is not None and listing.is_active %}
            <form action="{% url 'auction:bids' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="mainContent">
                        <input class="form-control" type="number" min="1" step="any" name="bid" placeholder="Your bid in $">
                    </div>
                    <div class="sideContent">
                        <input class="btn btn-primary" type="submit" value="Confirm">
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>

<div class="listing-navbuttons">
    <a href="{% url 'auction:index' %}" class="btn btn-primary">Back to all listings</a>
    {% if request.user.id is not None and listing.is_active %}
        {% if on_watchlist %}
            <a href="{% url 'auction:watchlist' listing.id %}" class="btn btn-primary">Remove from watchlist</a>
        {% else %}
            <a href="{% url 'auction:watchlist' listing.id %}" class="btn btn-primary">Add to watchlist</a>
        {% endif %}
        {% if request.user.id is listing.owner.id %}
            <form action="{% url 'auction:listing' listing.id %}" method="post">
                <br></br>
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Close this auction">
            </form>
        {% endif %}
    {% endif %}
</div>
<br></br>
<br></br>

<h2>Comments</h2>

{% if listing.is_active and request.user.id is not None %}
    <form action="{% url 'auction:comment' listing.id %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="comment" placeholder="Enter comment here">
        <input class="btn btn-primary" type="submit" value="Post comment">
    </form>
{% endif %}

{% for comment in comments %}
    <div class="card card-body bg-light">
      {{ comment.body|linebreaks }} - {{ comment.user }} ({{ comment.Comment_datetime }})
    </div>
{% endfor %}

{% endblock %}